
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Map test</title>
    <link rel="stylesheet" href="./style.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="./map.js"></script>


    <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAF6xgAj2Pw5J-BZlfeUsnlFRBvtB1ydZE&callback=initMap">
  </script>
  </head>
  <body>
    <h1><%= pageTitle %></h1>
    <div id="map"></div>
  </body>
</html>
